{%extends 'base/base.html'%}

{%block extracss%}
 <style>
   span.badge-dorada{
    color: rgb(58, 2, 8);
    background-color: #716439;
   }
 </style>
{%endblock%}



{%load staticfiles%}
{% load crispy_forms_tags %}
{%block title%}

{%endblock%}



 {%block navTitle%}
Acción
 {% endblock %}

{%block messages%}

{%endblock%}


{% block content %}
  <div class="container bg-transparent">
        {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags == "success" %} class="alert alert-success"
            {%else%}
            class="alert alert-danger"
            {% endif %}>
            {{ message }}</li>
              {% endfor %}
          </ul>
        {% endif %}
        <h3 class="text-center">{{accion.nombre}}</h3>
        <hr>
        <h4 class="text-center font-weight-bold">Población objetivo</h4>
        <div class="row">
            <div class="col-xl-4 col-sm-6 mb-3 animated fadeIn">
                <div class="card text-dorado eje3 o-hidden h-100">
                  <div class="card-body">
                    <div class="mr-5">
                     <h5>Escolaridad</h5>
                    </div>
                    <hr>
                    {% if accion.escolaridad.all.count == 0 %}
                      <span class="badge badge-dorada">Toda la población</span>
                    {% endif %}
                    
                    {% for escolaridad in accion.escolaridad.all %}
                      <span class="badge badge-dorada">{{escolaridad.nombre}}</span>
                    {% endfor %}
                  </div>
    
                </div>
              </div>
            <div class="col-xl-4 col-sm-6 mb-3 animated fadeIn">
                <div class="card text-dorado eje3 o-hidden h-100">
                  <div class="card-body">
                    <div class="mr-5">
                      <h5>Grupos vulnerables</h5>
                    </div>
                    <hr>
                    {% if accion.gruposVulnerables.all.count == 0 %}
                      <span class="badge badge-dorada">Toda la población</span>
                    {% endif %}
                    
                    {% for grupoVulnerables in accion.gruposVulnerables.all %}
                      <span class="badge badge-dorada">{{grupoVulnerables.nombre}}</span>
                    {% endfor %}
                  </div>
    
                </div>
              </div>
            <div class="col-xl-4 col-sm-6 mb-3 animated fadeIn">
                <div class="card text-dorado eje3 o-hidden h-100">
                  <div class="card-body">
                    <div class="mr-5">
                      <h5>Sector social</h5>
                    </div>
                    <hr>
                    {% if accion.sectorSocial.all.count == 0 %}
                      <span class="badge badge-dorada">Toda la población</span>
                    {% endif %}
                    
                    {% for sectorSocial in accion.sectorSocial.all %}
                      <span class="badge badge-dorada">{{sectorSocial.nombre}}</span>
                    {% endfor %}
                  </div>
    
                </div>
              </div>
            <div class="col-xl-4 col-sm-6 mb-3 animated fadeIn">
                <div class="card text-dorado eje3 o-hidden h-100">
                  <div class="card-body">
                    <div class="mr-5">
                      <h5>Sector económico</h5>
                    </div>
                    <hr>
                    {% if accion.sectorEconomico.all.count == 0 %}
                      <span class="badge badge-dorada">Toda la población</span>
                    {% endif %}
                    
                    {% for sectorEconomico in accion.sectorEconomico.all %}
                      <span class="badge badge-dorada">{{sectorEconomico.nombre}}</span>
                    {% endfor %}
                  </div>
    
                </div>
              </div>
            <div class="col-xl-4 col-sm-6 mb-3 animated fadeIn">
                <div class="card text-dorado eje3 o-hidden h-100">
                  <div class="card-body">
                    <div class="mr-5">
                      <h5>Ubicación</h5>
                    </div>
                    <hr>
                    {% if accion.ubicacion.all.count == 0 %}
                      <span class="badge badge-dorada">Toda la población</span>
                    {% endif %}
                    
                    {% for ubicacion in accion.ubicacion.all %}
                      <span class="badge badge-dorada">{{ubicacion.nombre}}</span>
                    {% endfor %}
                  </div>
    
                </div>
              </div>
            <div class="col-xl-4 col-sm-6 mb-3 animated fadeIn">
                <div class="card text-dorado eje3 o-hidden h-100">
                  <div class="card-body">
                    <div class="mr-5">
                      <h5>Categoría de población</h5>
                    </div>
                    <hr>
                    {% if accion.categoriaPoblacion.all.count == 0 %}
                      <span class="badge badge-dorada">Toda la población</span>
                    {% endif %}
                    
                    {% for categoriaPoblacion in accion.categoriaPoblacion.all %}
                      <span class="badge badge-dorada">{{categoriaPoblacion.nombre}}</span>
                    {% endfor %}
                  </div>
    
                </div>
              </div>
        </div>
        <h4 class="text-center font-weight-bold">Gastos por periodos</h4>
        {% for periodo in periodos %}
        <div class="col-xl-4 col-sm-6 mb-3 animated fadeIn">
            <div class="card text-dorado eje5 o-hidden h-100">
              <div class="card-body">
                <div class="mr-5">
                  <h5>{{periodo.nombre}}</h5>
                  <div class="mitad-h3">
                    Desde {{periodo.fechaInicial}} hasta {{periodo.fechaFinal}}
                  </div>
                </div>
              </div>
              <a class="card-footer text-white clearfix small z-1" 
              href="{%url 'capturarGastos' idAccion=accion.id idPeriodo=periodo.id%}">
                  <span class="float-left">Capturar gastos...</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
            </div>
          </div>
        {% endfor %}



        
  </div>
 


{% endblock content %}


