{%extends 'base/base.html'%}
{%load staticfiles%}

{%block extracss%}
<link rel="stylesheet" href="{%static 'css/jquery-datepicker.scss'%}">
  <style>
    .container{
      background: none !important;
    }
  </style>
{%endblock%}



{% load crispy_forms_tags %}
{%block title%}
Nueva actividad
{%endblock%}



 {%block navTitle%}
Nueva actividad
 {% endblock %}

{%block messages%}

{%endblock%}


{% block content %}
  <div class="container">

        {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags == "success" %} class="alert alert-success"
            {%else%}
            class="alert alert-danger"
            {% endif %}>
            {{ message }}</li>
              {% endfor %}
          </ul>
        {% endif %}
      <form action="" method="post">
            <div id="div_id_programaoperativo" class="form-group"> 
              <label for="id_programaoperativo" class="col-form-label  requiredField">
                Programaoperativo<span class="asteriskField">*</span> </label> 
                <div class=""> 
                  <select name="programaoperativo" class="select form-control" required="" id="id_programaoperativo"> 
                    <option value="" selected="">---------</option>
                    {% for programaOperativo in programasOperativos %}
                    <option value="{{programaOperativo.id}}">{{programaOperativo.nombre}}</option>                    
                    {% endfor %}
                  </select> 
                </div> 
              </div>
            <div id="div_id_accion" class="form-group"> 
              <label for="id_accion" class="col-form-label  requiredField">
                  Acción a la que corresponde<span class="asteriskField">*</span> 
                </label> 
                <div class=""> 
                  <select name="accion" class="select form-control" required="" id="id_accion"> 
                    <option value="" selected="">---------</option> 
                  </select> 
                </div> 
              </div>
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-flex justify-content-center">
              <button class="btn btn-primary guinda" type="submit">
                Registrar &nbsp;<i class="fas fa-check"></i>
              </button>
            </div>
      </form>
  </div>
 


{% endblock content %}


{%block extrascripts%}
  <script src="{%static 'js/jquery-datepicker.js'%}"></script>
  <script>
  $(document).ready(()=>{
      document.querySelector('#id_programaoperativo').addEventListener('change',()=>{
      /*   Cuando cambie el programa operativo    */
      programaOperativo = document.querySelector('#id_programaoperativo');
      idPo = programaOperativo.options[programaOperativo.selectedIndex].value;
      let acciones = document.querySelector('#id_accion');
      $('#id_accion').children().remove().end().append('<option selected value="">---------</option>') ;
      fetch(`/programasOperativos/get/aciones/${idPo}`)
      .then((data)=>{
        data.json().then((data)=>{
          data = JSON.parse(data);  
          for (let i = 0; i < data.length; i++) {
            const element = data[i];
            console.log(element)
            acciones.options[acciones.length] = new Option(element.fields.nombre,element.pk)
          }
        })
      })
      })
      $('#id_fecha_in').datepicker();





  })  
  </script>
{%endblock%}
