{%extends 'base/base.html'%}

{%block extracss%}
<style>
        table.dataTable tbody tr{
            background: transparent !important;
        }
        button.btn{
          min-width: 300px;
        }
</style>
{%endblock%}



{%load staticfiles%}
{% load crispy_forms_tags %}
{%block title%}

{%endblock%}



 {%block navTitle%}
Capturar gastos
 {% endblock %}

{%block messages%}

{%endblock%}


{% block content %}
    <form id="id_form_gastos" action="" 
    method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="id_tabla_presupuesto">Presupuesto ejercido*</label>
    <div class="table-responsive">
      <table class="table" id="id_tabla_presupuesto">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Concepto de gasto</th>
            <th scope="col">Categoría</th>
            <th scope="col">Cantidad</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>

    </div>
    <div id="id_gastos">
              
      </div>
    <div class="d-flex justify-content-center mt-3">
      <button type="submit" class="btn btn-primary guinda">
          Guardar&nbsp;<i class="fas fa-check-circle"></i>
      </button>
    </div>
    </form>



{% endblock content %}



{% block extrascripts %}
<script>
    $(document).ready(()=>{
        var conceptosGasto = "{{conceptosGasto|escapejs}}"
        conceptosGasto = JSON.parse(conceptosGasto)
    //   este arreglo se usa para cuando hay cambios en los componentes, se registra su
    //   valor en el ya que al cambiar en paginación se destruyen los inputs
    //   usability price is fucking high...
      var arregloGastos = [];
      for (let i = 0; i < conceptosGasto.length; i++) {
        arregloGastos.push({
          valor:"",
          pk:""
        });        
      }
      for (let i = 0; i < conceptosGasto.length; i++) {
        const element = conceptosGasto[i];
        $('#id_tabla_presupuesto').find('tbody')
        .append(`
        <tr>
            <th scope="row">${i}</th>
            <td>${element.fields.nombre}</td>
            <td>${element.fields.clasificacion}</td>
            <td>
              <div class="input-group mb-3  input-pago">
                <div class="input-group-prepend">
                  <div class="input-group-text">  
                    <input type="checkbox" id="checkbox-gastos-${i}"
                    aria-label="Checkbox for following text input">
                  </div>
                </div>
                <input readonly="true" id="input-gastos-${i}" pk="${element.pk}"
                type="text" class="form-control input-gastos" aria-label="Text input with checkbox">
              </div>
            </td>
          </tr>
        `);
        $(`#checkbox-gastos-${i}`).on('click',()=>{
          let checkbox = document.querySelector(`#checkbox-gastos-${i}`);
          if(checkbox.checked){
            $(`#input-gastos-${i}`).attr('readonly', false);
            $(`#input-gastos-${i}`).attr('required', true);
          }else{
            $(`#input-gastos-${i}`).attr('readonly', true);
            $(`#input-gastos-${i}`).attr('required', false);
            //le quitamos el valor en el arreglo y en el input
            arregloGastos[i].valor = "";
            arregloGastos[i].pk = "";
            document.querySelector(`#input-gastos-${i}`).value = "";
          }
        })
        $(`#input-gastos-${i}`).on('keyup',()=>{
          arregloGastos[i].valor = document.getElementById(`input-gastos-${i}`).value;
          arregloGastos[i].pk = document.getElementById(`input-gastos-${i}`).getAttribute('pk');
        })
      }
     
      $('#id_tabla_presupuesto').DataTable();
      //Validaciones
      $('.input-gastos').mask('00000000.00', {reverse: true});
      $("#id_form_gastos").submit(function(event) {
        event.preventDefault();
        if (arregloGastos.length == 0) {
            Swal.fire({
              title: `<h4 class="modal-title" id="exampleModalLabel">
                  <strong>Ingrese gastos</strong>
                </h4>`,
              type:'warning',
              customClass:{
                confirmButton: 'guinda',
                cancelButton: 'guinda',
              },
              html:`
              <ul>
                  <li>En caso de que la actividad no haya llevado ningún gasto, elegir uno y escribir 0.</li>
                </ul>
                `
              })
        }else{
          //ESTE CODIGO INCRUSTA INPUTS PARA ENVIARLOS AL FORMULARIO POR MÉTODO POST
            for (let i = 0; i < arregloGastos.length; i++) {
              const element = arregloGastos[i];
              if(element.valor != ""){
                gastoIngresado = true
                valorString = element.valor + '|' + element.pk
                $(`#id_gastos`).append(`
                        <input readonly="true" id="input-gastos-${i}" name="gastos[]"
                        type="text" class="form-control input-gastos"
                        hidden value=${valorString}> 
                `);
              }
              
            }
            let timerInterval
            Swal.fire({
              title: 'Subiendo',
              timer: 30000,
              onBeforeOpen: () => {
                Swal.showLoading()
              },
              onClose: () => {
                clearInterval(timerInterval)
              }
            }).then((result) => {
              if (
                // Read more about handling dismissals
                result.dismiss === Swal.DismissReason.timer
              ) {
                console.log('I was closed by the timer')
              }
            })
            this.submit()
        }
      })
    
    });



</script>
{% endblock %}

