{#PROGRAMAS OPERATIVOS POR OBJETIVO SELECCIONADO#}
{%extends 'base/base.html'%}
{%load staticfiles%}
{% load crispy_forms_tags %}

{%block extracss%}

{%endblock%}




{%block title%}
  Programas Operativos
{%endblock%}



 {%block navTitle%}
Programas operativos
 {% endblock %}


{% block content %}
    <h2 class="text-center"> {{objetivo.numero}}.- {{objetivo.nombre}}</h2>
    <div class="row">
        {% for programa in programas %}
        <div class="col-xl-4 col-sm-6 mb-3 animated fadeIn">
            <div class="card text-dorado eje1 o-hidden h-100">
              <div class="card-body">
                <div class="mr-5">
                 <h3>{{programa.nombre}}</h3>
                </div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="{%url 'postPo' idPo=programa.id%}">
                <span class="float-left">Ver acciones...</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          {% endfor %}
    </div>


{% endblock content %}
