{%extends 'base/base.html'%}

{%block extracss%}
  <style>
    .container{
      background: none !important;
    }
    label{
      font-weight: bold;
    }
  </style>
{%endblock%}



{%load staticfiles%}
{% load crispy_forms_tags %}
{%block title%}
  Programa operativo
{%endblock%}



 {%block navTitle%}
 Programas Operativos
 {% endblock %}

{%block messages%}

{%endblock%}


{% block content %}
  <div class="container">

        {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags == "success" %} class="alert alert-success"
            {%else%}
            class="alert alert-danger"
            {% endif %}>
            {{ message }}</li>
              {% endfor %}
          </ul>
        {% endif %}
      <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <h4 class="text-center">Acciones</h4>
            <div class="row">
              {% for accion in acciones %}
              <div class="col-xl-4 col-sm-6 mb-3 animated fadeIn">
                  <div class="card text-dorado eje3 o-hidden h-100">
                    <div class="card-body">
                      <div class="mr-5">
                       <h6>{{ forloop.counter }}.-&nbsp;{{accion.nombre}}</h6>
                      </div>
                      
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="{%url 'verAccion' idAccion=accion.id%}">
                        <span class="float-left">Detalles y gastos...</span>
                        <span class="float-right">
                          <i class="fas fa-angle-right"></i>
                        </span>
                      </a>
                      <a class="card-footer text-white clearfix small z-1" 
                      href="{%url 'capturarMetas' idAccion=accion.id%}">
                          <span class="float-left">Metas...</span>
                          <span class="float-right">
                            <i class="fas fa-angle-right"></i>
                          </span>
                        </a>
                  </div>
                </div>
                {% endfor %}
            </div>
      </form>
  </div>
 


{% endblock content %}


