{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{%endblock%}</title>
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!-- CDN's -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="{%static 'css/colores.css'%}">
    <link rel="stylesheet" href="{%static 'css/base.css'%}">
    {% block extracss %}
    <link rel="stylesheet" href="https://fullcalendar.io/releases/core/4.1.0/main.min.css"  lesheet" href="{%static 'css/colores.css'%}">
    <link rel="stylesheet" href="https://fullcalendar.io/releases/daygrid/4.1.0/main.min.css" >
    <link rel="stylesheet" href="https://fullcalendar.io/releases/timegrid/4.1.0/main.min.css"  >
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->

<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>

{% block extrascripts %}{% endblock %}
</head>
<body>
	{% block nav %}



	{% endblock nav %}


	{% block messages %}
		{% if messages %}
			<ul class="messages">
					{% for message in messages %}
					<li{% if message.tags == "success" %} class="alert alert-success"
				{%else%}
				class="alert alert-danger"
				{% endif %}>
				{{ message }}</li>
					{% endfor %}
			</ul>
		{% endif %}
	{% endblock messages %}


	{% block  content%}
	
	{% endblock %}

      <footer class="d-flex justify-content-center align-items-center fixed-bottom guinda-oscuro">
        <h6 class="small text-white text-uppercase mb-0">© 2019 derechos reservados. <a href="https://www.ahome.gob.mx/" target="_blank">h. ayuntamiento de ahome</a>. <a href="#modalPdf" data-toggle="modal">Aviso de privacidad</a></h6>
      </footer>
</body>

</html>