{% load staticfiles %}
<!DOCTYPE html>
    <html lang="es-mx">
    <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="{%static 'images/Ayuntamiento.jpg'%}"/>

    <link href="https://fonts.googleapis.com/css?family=Arapey&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <!-- CDN's -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="{%static 'css/colores.css'%}">
    <link rel="stylesheet" href="{%static 'css/base.css'%}">
		  <!-- Custom fonts for this template-->
		{% comment %} <link href="{%static 'dashboard/vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css"> {% endcomment %}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" href="{%static 'css/dataTables.bootstrap4.css'%}">

		<!-- Custom styles for this template-->
		<link href="{%static 'css/sb-admin.css'%}" rel="stylesheet">
		

    {% block extracss %}
    <link rel="stylesheet" href="https://fullcalendar.io/releases/core/4.1.0/main.min.css">
    <link rel="stylesheet" href="https://fullcalendar.io/releases/daygrid/4.1.0/main.min.css" >
    <link rel="stylesheet" href="https://fullcalendar.io/releases/timegrid/4.1.0/main.min.css"  >
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<!-- Core plugin JavaScript-->
    <script src="{%static 'js/jquery.easing.min.js'%}"></script>
    <script src="{%static 'js/jquery.mask.min.js'%}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <!--<script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>-->

{% block extrascripts %}{% endblock %}

</head>
<body>

	{% block nav %}
		<nav class="navbar navbar-expand navbar-dark beige-alto static-top">

    <a class="navbar-brand" href="{%url 'index'%}">
      <img class="A-PMD" src="{%static 'images/AAHOME.svg'%}" alt="">
    </a>
    {% if request.user.is_authenticated %}
    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>
    {% endif %}

    <!-- Navbar Search -->
    <form class="d-flex justify-content-center  ml-auto mr-auto">
      <h3>
        {%block navTitle%}
        {%endblock%}
      </h3>
    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
   
      {%if request.user.is_authenticated%} 
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{request.user.username}}  <i class="fas fa-user-circle fa-fw"></i>
        </a> 
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="{%url 'perfil'%}">Perfil</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{%url 'logout'%}" >Salir</a>
        </div>
      </li>
      {% endif %}
    </ul>

  </nav>
	{% endblock nav %}



	{% block messages %}
		{% if messages %}
			<ul class="messages">
					{% for message in messages %}
					<li{% if message.tags == "success" %} class="alert alert-success"
				{%else%}
				class="alert alert-danger"
				{% endif %}>
				{{ message }}</li>
					{% endfor %}
			</ul>
		{% endif %}
	{% endblock messages %}

{% block superContent %}
	 <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar sidebar-blanco navbar-nav">
      {#Si el usuario es diferente a ENLACE#}
      {% if request.user.profile.tipoUsuario == 'a' or  request.user.profile.tipoUsuario == 's'%}
          <!--<li class="nav-item active {% if request.resolver_match.url_name == "my_view_name" %}active{% endif %}">
              <a class="nav-link" href="{%url 'calendar'%}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span class="font-weight-bold">Calendario</span>
              </a>
          </li> 

          {<li class="nav-item">
            <a class="nav-link" href="{%url 'report'%}">
              <i class="fas fa-file"></i>
              <span class="font-weight-bold">Reporte</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'grafica'%}">
              <i class="fas fa-fw fa-chart-area"></i>
              <span class="font-weight-bold">Gráficas</span></a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-chess-rook"></i>
              <span class="font-weight-bold">Administrador</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
              <!-- <h6 class="dropdown-header">Actividades</h6> -->
              <a class="dropdown-item" href="{%url 'calendar'%}">Calendario</a>
              <a class="dropdown-item" href="{%url 'listActividadesAdmin'%}">Actividades</a>
              <a class="dropdown-item" id="id_reporte_actividades" class="graficas" href="{%url 'reporteActividadesAdmin'%}">Reportes</a>
              <a class="dropdown-item" class="graficas" href="{%url 'productividadAdmin'%}">Productividad</a>
              <a class="dropdown-item" class="graficas" href="{%url 'dependenciasAdmin'%}">Dependencias</a>
              <a class="dropdown-item" class="graficas" href="{%url 'capturarMetasList'%}">Capturar metas</a>            
              <a class="dropdown-item" class="graficas" href="{%url 'fichasAdmin'%}">Fichas</a>
              <a class="dropdown-item" class="graficas" href="{%url 'metasAdmin'%}">Metas</a>
            </div>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'configuraciones'%}">
                <i class="fas fa-cog"></i>
              <span class="font-weight-bold">Configuraciones</span></a>
          </li>
      {%elif request.user.profile.tipoUsuario == 'i'%}
      <li class="nav-item">
        <a class="nav-link" href="{%url 'metasAdmin'%}">
          <i class="fas fa-chart-pie"></i>
          <span class="font-weight-bold">Metas</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'fichasAdmin'%}">
          <i class="fas fa-chart-line"></i>
          <span class="font-weight-bold">Fichas</span></a>
      </li>
      {% endif %}
      {% if request.user.profile.tipoUsuario == 'e' or request.user.profile.tipoUsuario == 's' or request.user.profile.tipoUsuario == 'a' %}
          <li class="nav-item">
            <a class="nav-link" href="{%url 'listaObjetivos'%}">
              <i class="fas fa-fw fa-chalkboard-teacher"></i>
              <span class="font-weight-bold">Nuestros objetivos</span></a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-plus-square"></i>
                <span class="font-weight-bold">Actividades</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                <!-- <h6 class="dropdown-header">Actividades</h6> -->
                <a class="dropdown-item" href="{%url 'nuevaActividad'%}">Nueva actividad</a>
                <a class="dropdown-item" href="{%url 'listActividades'%}">Ver actividades</a>
                <a class="dropdown-item" href="{%url 'reporteActividadEnlace'%}">Reportes</a>
                <a class="dropdown-item" href="{%url 'fichaDependencia' idDependencia=request.user.profile.dependencia.id%}">Metas</a>
              </div>
            </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-hammer"></i>
              <span class="font-weight-bold">Dependencia</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
              <!-- <h6 class="dropdown-header">Actividades</h6> -->
              <a class="dropdown-item" href="{%url 'dependencia_pos'%}">Programas operativos</a>
              <a class="dropdown-item" 
              href="{%url 'accionesDependencia' idDependencia=request.user.profile.dependencia.id%}">Acciones</a>
              <a class="dropdown-item" href="{%url 'enDesarrollo'%}">Departamentos</a>
              <a class="dropdown-item" href="{%url 'enDesarrollo'%}">Capturar metas</a>
            </div>
          </li>
          
          <li class="nav-item">
              <a class="nav-link" href="{%url 'recursos'%}">
                  <i class="fas fa-toolbox"></i>
                <span class="font-weight-bold">Recursos</span></a>
            </li>
      {% endif %}

    </ul>

    <div id="content-wrapper">
			
	
			
      <div class="container-fluid">
				{% block  content%}
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          Plan Municipal de Desarrollo
        </ol>

        <!-- Icon Cards-->
        <div class="row">
          <!-- eje 1 -->
          <div class="col-xl-4 col-sm-6 mb-3">
            <div class="card text-white eje1 o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-comments"></i>
                </div>
                <div class="mr-5">26 New Messages!</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <!-- eje2 -->
          <div class="col-xl-4 col-sm-6 mb-3">
            <div class="card text-white eje2 o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-list"></i>
                </div>
                <div class="mr-5">11 New Tasks!</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <!-- eje3 -->
          <div class="col-xl-4 col-sm-6 mb-3">
            <div class="card text-white eje3 o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-shopping-cart"></i>
                </div>
                <div class="mr-5">123 New Orders!</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <!-- eje4 -->
          <div class="col-xl-4 col-sm-6 mb-3">
            <div class="card text-white eje4 o-hidden h-100">
              <div class="card-body">
                <div class="card-body-icon">
                  <i class="fas fa-fw fa-life-ring"></i>
                </div>
                <div class="mr-5">13 New Tickets!</div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          <!-- eje5 -->
					<div class="col-xl-4 col-sm-6 mb-3">
							<div class="card text-white eje5 o-hidden h-100">
								<div class="card-body">
									<div class="card-body-icon">
										<i class="fas fa-fw fa-life-ring"></i>
									</div>
									<div class="mr-5">13 New Tickets!</div>
								</div>
								<a class="card-footer text-white clearfix small z-1" href="#">
									<span class="float-left">View Details</span>
									<span class="float-right">
										<i class="fas fa-angle-right"></i>
									</span>
								</a>
							</div>
						</div>
					<div class="col-xl-4 col-sm-6 mb-3">
							<div class="card text-white bg-danger o-hidden h-100">
								<div class="card-body">
									<div class="card-body-icon">
										<i class="fas fa-fw fa-life-ring"></i>
									</div>
									<div class="mr-5">13 New Tickets!</div>
								</div>
								<a class="card-footer text-white clearfix small z-1" href="#">
									<span class="float-left">View Details</span>
									<span class="float-right">
										<i class="fas fa-angle-right"></i>
									</span>
								</a>
							</div>
						</div>
        </div>
				{% endblock %}
      </div>

    </div>
    <!-- /.content-wrapper -->

  </div>

  
{% endblock superContent %}


	

      <footer class="d-flex justify-content-center align-items-center fixed-bottom dorado-alto">
        <h6 class="small text-uppercase mb-0">Dirección de Planeación e Innovación Gubernamental © 2019 derechos reservados. <a href="https://www.ahome.gob.mx/" target="_blank">h. ayuntamiento de ahome</a>. </h6>
      </footer>
      <script src="{%static 'js/sb-admin.js'%}"></script>
      <script>
          $(document).ready(()=>{
            $('#id_reporte_actividades').click(()=>{
              Swal.fire({
                title: 'Generando gráficas',
                timer: 60000,
                onBeforeOpen: () => {
                  Swal.showLoading()
                },
                onClose: () => {
                  clearInterval(timerInterval)
                }
              }).then((result) => {
                if (
                  // Read more about handling dismissals
                  result.dismiss === Swal.DismissReason.timer
                ) {
                  console.log('I was closed by the timer')
                }
              })
            })
    
          });
        </script>
</body>

</html>