{% extends "base/base.html" %}
{%load staticfiles%}

{% block extracss %}
<style>
    img#logo{
        width: 60%;
        height: 60%;
    }
</style>
{% endblock %}

{% block navTitle %}
Función en desarrollo
{% endblock %}

{% block content %}
    <div class="container bg-transparent">
        <div class="d-flex justify-content-center">
            <img id="logo" src="{%static 'images/Ahome.png'%}" alt="">
        </div>
        <h3>
            Por el momento esta función se encuentra en desarrollo, para más información 
            comunicarse con la Dirección de Planeación e Innovación Gubernamental
        </h3>
        <strong>Correo: jesus.acosta@ahomedigital.gob.mx</strong>
    </div>
{% endblock %}