{% extends "base/base.html" %}
{% load staticfiles %}


{%block title%}
Inicio
{%endblock%}
{%block navTitle%}
Inicio
{%endblock%}


{% block content %}
        <div class="row">
          <div class="col-xl-4 col-sm-6 mb-3">
              <div class="card text-dorado eje5 hidden h-100">
                <div class="card-body">
                  <div class="mr-5">
                      <h3>Registra una nueva actividad</h3>
                  </div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{%url 'escogerPo'%}">
                  <span class="float-left">Ir...</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
          <div class="col-xl-4 col-sm-6 mb-3">
              <div class="card text-dorado eje5 hidden h-100">
                <div class="card-body">
                  <div class="mr-5">
                      <h3>Captura tus gastos</h3>
                  </div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{%url 'accionesDependencia' idDependencia=request.user.profile.dependencia.id%}">
                  <span class="float-left">Ir...</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
          <div class="col-xl-4 col-sm-6 mb-3">
              <div class="card text-dorado eje5 hidden h-100">
                <div class="card-body">
                  <div class="mr-5">
                      <h3>Tus programas operativos</h3>
                  </div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{%url 'dependencia_pos'%}">
                  <span class="float-left">Ir...</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
          <div class="col-xl-4 col-sm-6 mb-3">
              <div class="card text-dorado eje5 hidden h-100">
                <div class="card-body">
                  <div class="mr-2">
                      <h4>Tus actividades capturadas</h4>
                  </div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{%url 'listActividades'%}">
                  <span class="float-left">Ir...</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
          <div class="col-xl-4 col-sm-6 mb-3">
              <div class="card text-dorado eje5 hidden h-100">
                <div class="card-body">
                  <div class="mr-2">
                      <h3>Tu avance en metas</h3>
                  </div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{%url 'fichaDependencia' idDependencia=request.user.profile.dependencia.id%}">
                  <span class="float-left">Ir...</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
        
	
        </div>
    

{% endblock content %}
