{% extends "base/base.html" %}
{% load staticfiles %}

{%block title%}
Presupuesto anual
{%endblock%}

{% block messages %}{% endblock %}

 {%block navTitle%}
Presupuesto anual
 {% endblock %}


{% block extracss %}
<style>
  select{
    background-color: #cb9831 !important;
    border: 1px solid #cb9831 !important;
    color: white !important;
  }
  .form-control{
    font-family: sans-serif;
  }
</style>
{% endblock %}


{% block content %}
<div class="container bg-transparent">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags == "success" %} class="alert alert-success"
      {%else%}
      class="alert alert-danger"
      {% endif %}>
      {{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h2 class="text-center">{{programaOperativo.nombre}}</h2>
  <div class="row">
        {% for presupuestoPeriodo in presupuestosPeriodo %}
        <div class="col-xl-4 col-sm-6 mb-3 animated fadeIn">
            <div class="card text-dorado eje5 o-hidden h-100">
              <div class="card-body">
                <div class="mr-5">
                  <h4>{{presupuestoPeriodo.periodo.descripcion}}</h4>
                  <div class="mitad-h3">
                    Desde {{presupuestoPeriodo.periodo.fechaInicial}} hasta {{presupuestoPeriodo.periodo.fechaFinal}}
                  </div>
                  {% if not presupuestoPeriodo.presupuesto.permitirModificar %}
                    <h5 class="text-center">
                        <strong>Presupuesto:</strong>
                        $&nbsp;{{presupuestoPeriodo.presupuesto.cantidad}}</h5>
                  {% endif %}
                </div>
              </div>
              {% if presupuestoPeriodo.presupuesto.permitirModificar %}
              <div class="form-group">
                    <input type="text" class="form-control input-presupuesto" 
                    id="input_{{presupuestoPeriodo.periodo.id}}" 
                    value="{{presupuestoPeriodo.presupuesto.cantidad}}"
                    placeholder="Presupuesto asignado">
                  </div>
                {% endif %}
              
              
            </div>
          </div>
        {% endfor %}
  </div>
  <form action="" method="POST" id="id_form">
    {% csrf_token %}
  </form>
  {% if faltaAsignar %}
  <div class="justify-content-center d-flex">
        <button id="id_guardar_cambios" class="btn guinda">
          <i class="fas fa-check-circle"></i>&nbsp; Guardar cambios</button>
      </div>
  {% endif %}
  
 


</div>

{% endblock content %}



{%block extrascripts%}
    <script>
      $(document).ready(()=>{
        $('.input-presupuesto').mask('00000000.00', {reverse: true});
        $('#id_guardar_cambios').click(()=>{
            var inputs = document.querySelectorAll('.input-presupuesto')
            for (let i = 0; i < inputs.length; i++) {
              const input = inputs[i];
              let idPeriodoSplit = input.id.split('_');
              let valorInput = idPeriodoSplit[1] + '|' + input.value
              if(input.value > 0){
                $('#id_form').append(`
                <input type="text" hidden=true name="valoresPresupuesto" value="${valorInput}">
                `);
              }
            }
            $('#id_form').submit();
        });
      });
    </script>
{%endblock%}