{% extends "base/base.html" %}
{% load staticfiles %}


{%block title%}
  Inicio
{%endblock%}
{%block navTitle%}

{%endblock%}


{% block content %}
   
    <!-- Breadcrumbs-->
            <h1 class="text-center">Sistema de Evaluación de políticas públicas</h1>

        <!-- Icon Cards-->
        <div class="row">
          <div class="col-xl-4 col-sm-6 mb-3">
              <div class="card text-dorado blanquito hidden h-100">
                <div class="card-body">
                  <div class="mr-5">
                      <h3>Plan Municipal de Desarrollo</h3>
                      <div class="mitad-h3">Ahome 2018 - 2021</div>
                  </div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="https://www.ahome.gob.mx/plan-municipal-de-desarrollo-2018-2021/">
                  <span class="float-left">Ver más...</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
          {% for eje in ejes %}
          <div class="col-xl-4 col-sm-6 mb-3 animated fadeIn">
            <div class="card text-dorado {{eje.clase}} o-hidden h-100">
              <div class="card-body">
                <div class="mr-5">
                 <h3>{{eje.numero}}</h3>
                 <div class="mitad-h3">{{eje.nombre}}</div>
                </div>
              </div>
              <a class="card-footer text-white clearfix small z-1" href="{%url 'enDesarrollo'%}">
                <span class="float-left">Ver más...</span>
                <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
              </a>
            </div>
          </div>
          {% endfor %}
	
        </div>
    

{% endblock content %}
