    
{% extends "base/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block navTitle %}
{{actividad.nombre}}
{% endblock %}


{% block extracss %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://raw.githubusercontent.com/twbs/bootstrap-sass/master/assets/stylesheets/bootstrap/_glyphicons.scss">
<style>
    .btn-file{
        background-color: rgb(155, 16, 30) !important;
        border-color: rgb(155, 16, 30) !important;
    }
    button.btn-file:hover{
        background-color: rgb(176, 129, 134) !important;
        border-color: rgb(176, 129, 134) !important;
        color: white !important;
    }
    label{
        font-weight: bold;
    }
    .input-pago{
      min-width: 100px;
    }
    table.dataTable tbody tr{
        background: transparent !important;
    }
    #id_btn_segunda_parte{
      width: 100%;
      max-width:300px;
    }
</style>
{% endblock extracss %}


{% block content %}
    <div class="container bg-transparent">
        <form id="id_form_actividad" action="" 
        method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="id_tabla_presupuesto">Presupuesto ejercido*</label>
            <div class="table-responsive">
              <table class="table" id="id_tabla_presupuesto">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Concepto de gasto</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Cantidad</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
  
            </div>
            <hr>
            {{ form|crispy }}
            <label for="input-42-es">Evidencia*</label>
            <div class="file-loading">
                    <input required class="guinda" 
                    id="input-42-es" data-show-upload="false" 
                    name="archivos" type="file">
                </div> 
            <div id="id_gastos">
              
            </div>
            <div class="d-flex justify-content-center mt-5 min-w-100">
                    <button class="btn btn-primary guinda" id="id_btn_segunda_parte" 
                    type="submit">
                        Registrar &nbsp;<i class="fas fa-check"></i>
                    </button>
                    </div>
        </form>
        <div class="modal fade" id="noGasto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">
                  Seleccione al menos un gasto en esta actividad
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <ul>
                  <li>En caso de que la actividad no haya llevado ningún gasto, elegir uno y escribir 0.</li>
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      

    </div>

    
    

{% endblock content %}



{% block extrascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/js/plugins/piexif.min.js" type="text/javascript"></script>
<script src="{%static 'js/fa-theme.js'%}"></script>
<!-- sortable.min.js is only needed if you wish to sort / rearrange files in initial preview. 
    This must be loaded before fileinput.min.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/js/plugins/sortable.min.js" type="text/javascript"></script>
<!-- purify.min.js is only needed if you wish to purify HTML content in your preview for 
    HTML files. This must be loaded before fileinput.min.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.1/js/plugins/purify.min.js" type="text/javascript"></script>
<script src="{%static 'js/es.js'%}"></script>
<script>
    //esperaoms 1 segundo para que carguen todos los archivos
    setTimeout(() => {
        $("#input-42-es").fileinput({
            language:"es",
            theme: "fa",
            maxFileCount: 1,
            allowedFileExtensions: ["pdf"],
            maxFileSize: 10000
        });
        }, 1000);
 
    $(document).ready(()=>{
      var conceptosGasto = "{{conceptosGasto|escapejs}}"
      conceptosGasto = JSON.parse(conceptosGasto)
      //este arreglo se usa para cuando hay cambios en los componentes, se registra su
      //valor en el ya que al cambiar en paginación se destruyen los inputs
      //usability price is fucking high...
      var arregloGastos = [];
      for (let i = 0; i < conceptosGasto.length; i++) {
        arregloGastos.push('');        
      }



      for (let i = 0; i < conceptosGasto.length; i++) {
        const element = conceptosGasto[i];
        $('#id_tabla_presupuesto').find('tbody')
        .append(`
        <tr>
            <th scope="row">${i}</th>
            <td>${element.fields.nombre}</td>
            <td>${element.fields.clasificacion}</td>
            <td>
              <div class="input-group mb-3  input-pago">
                <div class="input-group-prepend">
                  <div class="input-group-text">  
                    <input type="checkbox" id="checkbox-gastos-${i}"
                    aria-label="Checkbox for following text input">
                  </div>
                </div>
                <input readonly="true" id="input-gastos-${i}"
                type="text" class="form-control input-gastos" aria-label="Text input with checkbox">
              </div>
            </td>
          </tr>
        `);
        $(`#checkbox-gastos-${i}`).on('click',()=>{
          let checkbox = document.querySelector(`#checkbox-gastos-${i}`);
          if(checkbox.checked){
            $(`#input-gastos-${i}`).attr('readonly', false);
            $(`#input-gastos-${i}`).attr('required', true);
          }else{
            $(`#input-gastos-${i}`).attr('readonly', true);
            $(`#input-gastos-${i}`).attr('required', false);
            //le quitamos el valor en el arreglo y en el input
            arregloGastos[i] = "";
            document.querySelector(`#input-gastos-${i}`).value = "";
          }
        })
        $(`#input-gastos-${i}`).on('keyup',()=>{
          console.log(document.getElementById(`input-gastos-${i}`).value)
          arregloGastos[i] = document.getElementById(`input-gastos-${i}`).value;
        })
      }
   
     
      $('#id_tabla_presupuesto').DataTable();
      $("#id_btn_gastos").click(()=>{
        $('#id_detalles_gasto').modal('show');
      })
      //Validaciones
      $('.input-gastos').mask('00000000.00', {reverse: true});
      $('#id_personasInvolucradas').mask('00000000');
      //*********************
      $( "#id_form_actividad" ).submit(function( event ) {
        event.preventDefault();
        let gastoIngresado = false;
          for (let i = 0; i < arregloGastos.length; i++) {
            const element = arregloGastos[i];
            if(element != ""){
              gastoIngresado = true
              $(`#id_gastos`).append(`
                      <input readonly="true" id="input-gastos-${i}" name="gastos[]"
                      type="text" class="form-control input-gastos"
                      hidden value=${element}> 
              `);
            }
            
          }
          if(gastoIngresado){
            this.submit()
          }else{
            $('#noGasto').modal('show');
          }

      });
    })
    </script>
{% endblock %}