{% extends "base/base.html" %}
{%load staticfiles%}

{% block navTitle %}
{{actividad.nombre}}
{% endblock %}

{% block content %}
<div class="container bg-transparent">
        <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">
                        <h5 class="text-center">
                            <strong>Subido por
                            </strong>
                        </h5>
                    </th>
                    <td>
                        <h5 class="text-center">
                                {{actividad.user.username}}, {{actividad.user.profile.dependencia.nombre}}
                        </h5>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                            <h5 class="text-center">
                                    <strong>Programa operativo:</strong>
                                </h5>
                    </th>
                    <td>
                        <h5 class="text-center">
                        {{actividad.programaoperativo.nombre}}
                        </h5>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                        <h5 class="text-center"><strong>Acción:</strong> </h5>
                    </th>
                    <td>
                        <h5 class="text-center">
                            {{actividad.accion.nombre}}
                        </h5>
                    </td>
                  </tr>
                  <tr>
                        <th scope="row">
                            <h5 class="text-center">
                                <strong>Descripción</strong>
                            </h5>
                        </th>
                        <td>
                            <h5 class="text-center">
                                {{actividad.descripcion}}
                            </h5>
                        </td>
                      </tr>
                    <tr>
                        <th scope="row">
                            <h5 class="text-center">
                                <strong>Presupuesto programado:</strong>
                            </h5>
                        </th>
                        <td>
                            <h5 class="text-center">
                                {{actividad.presupuestoProgramado}}
                            </h5>
                        </td>
                        </tr>
                    <tr>
                        <th scope="row">
                            <h5 class="text-center">
                                <strong>Personas involucradas en la actividad:</strong>
                            </h5>
                        </th>
                        <td>
                            <h5 class="text-center">
                                {{actividad.personasInvolucradas}}
                            </h5>
                        </td>
                        </tr>
                    <tr>
                        <th scope="row">
                            <h5 class="text-center">
                                <strong>Actividad desde:</strong>
                            </h5>
                        </th>
                        <td>
                            <h5 class="text-center">
                                {{actividad.fecha_in}}
                            </h5>
                        </td>
                        </tr>
                    <tr>
                        <th scope="row">
                            <h5 class="text-center">
                                <strong>Hasta:</strong>
                            </h5>
                        </th>
                        <td>
                            <h5 class="text-center">
                                {{actividad.fecha_fi}}
                            </h5>
                        </td>
                        </tr>
                </tbody>
              </table>

    <div class="d-flex justify-content-center">
        <embed src="/media/{{actividad.evidencia}}" width="600" height="500" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
    </div>
    
</div>
{% endblock %}