{% extends "base/base.html" %}
{%load staticfiles%}

{% block navTitle %}
Actividad
{% endblock %}

{% block title %}
Actividad
{% endblock %}

{% block content %}
<h3 class="text-center">{{actividad.accion.nombre}}</h3>
<br>
<br>
<div class="container bg-transparent">
        <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">
                            <h5 class="text-center">
                                    <strong>Programa operativo:</strong>
                                </h5>
                    </th>
                    <td>
                        <h5 class="text-center">
                        {{actividad.programaoperativo.nombre}}
                        </h5>
                    </td>
                  </tr>
                    <tr>
                        <td colspan="2" scope="row">
                            <h5 class="text-center">
                                <strong>
                                Desde {{actividad.fecha_in}} al {{actividad.fecha_fi}}
                                </strong>
                            </h5>
                        </td>
                         </tr>
                </tbody>
              </table>
        <hr>
        <h5 class="text-center">VARIABLES DE MEDICIÓN</h5>
        <div class="row">
            {% for variable in variablesActividad %}
            <div class="col-xl-4 col-sm-6 mb-3 animated fadeIn">
                    <div class="card text-dorado eje5 o-hidden h-100">
                        <div class="card-body">
                        <div class="mr-5">
                            <h5 name="nombrePo">{{variable}}</h5>
    
                        </div>
                        <br>
                        <div class="mitad-h3">
                            <h6>Cantidad: <strong>{{variable.cantidad}}</strong></h6>
                        </div>
                        </div> 
                    </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        <h5 class="text-center">ALCANCE DE BENEFICIO</h5>
        <div class="row">
                {% for alcance in alcancesActividad %}
                <div class="col-xl-4 col-sm-6 mb-3 animated fadeIn">
                        <div class="card text-dorado eje5 o-hidden h-100">
                            <div class="card-body">
                            <div class="mr-5">
                                <h5 name="nombrePo">{{alcance}}</h5>
        
                            </div>
                            <br>
                            <div class="mitad-h3">
                                <h6>Cantidad: <strong>{{alcance.cantidad}}</strong></h6>
                            </div>
                            </div> 
                        </div>
                </div>
                {% endfor %}
            </div>
        <hr>
    <br>
    <div class="justify-content-center d-flex">
        <a target="_blank" class="btn guinda" href="http://www.google.com/maps/place/{{actividad.latitud}},{{actividad.longitud}}"><i class="fas fa-map-marked-alt"></i>&nbsp;Ubicacion</a>
    </div>
    <hr>
    <h3 class="text-center font-weight-bold">Observaciones</h3>
    {% if actividad.observaciones %}
     <h4 class="text-center">{{actividad.observaciones}}</h4>

    {%else%}
        <h4 class="text-center">Sin observaciones</h4>

    {% endif %}
    <hr>
    

    <div class="d-flex justify-content-center">
        <embed src="/media/{{actividad.evidencia}}" width="600" height="500" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
    </div>
    
</div>
{% endblock %}