html{
    height: 100%;
    width: 100%;
    padding: 0px;
    font-family:  'IBM Plex Mono', monospace;

}
body{
    background:  white !important;
    height: 100%;
    width: 100%;
    font-family:  'IBM Plex Mono', monospace;
}

h2,input,label,h1{
    font-family:  'IBM Plex Mono', monospace;
}
h2{
    font-family:  'IBM Plex Mono', monospace;

}
a{
    color: black;
}
ul{
    font-family: 'IBM Plex Mono', monospace;
}
.A-PMD{
    max-width: 40px;
    max-height: 30px;
}


.sidebar-blanco{
    background-color: rgb(215, 208, 186) !important;
    color: rgb(96, 2, 12);
}

.container{
    background: white !important;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}
.dropdown-item{
    word-wrap: break-word;
}
