{% extends "base/base.html" %}
{% load staticfiles %}

{%block messages%}

{%endblock%}

{%block navTitle%}
 Calendario de Actividades
 {% endblock %}

{% block extracss %}
<link rel="stylesheet" href="https://fullcalendar.io/releases/core/4.1.0/main.min.css" >
<link rel="stylesheet" href="https://fullcalendar.io/releases/daygrid/4.1.0/main.min.css">
<link rel="stylesheet" href="https://fullcalendar.io/releases/timegrid/4.1.0/main.min.css">
{% endblock %}


{% block content %}

<br>
<form id="formulario" method="POST">
                {%csrf_token%}
                <br>
                <br>
                <div class="container col-lg-9 col-md-12 bg-transparent"  id="Select1">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags == "success" %} class="alert alert-success"
                      {%else%}
                      class="alert alert-danger"
                      {% endif %}>
                      {{ message }}</li>
                        {% endfor %}
                    </ul>
                  {% endif %}
                    <label for="exampleSelect1">Dependencia</label>
                    <select name="srh" class="container col-lg-9 col-md-12">
                      {% for i in depende  %}
                            <option value="{{i.id}}" >{{i.nombre}}</option>
                      {% endfor %}
                    </select>
                </div>
                <br>

                <div class="d-flex justify-content-center">
                    <button class="btn btn-secondary" id="search-egresados" type="submit">Buscar</button>

                </div>
            <br>
            <br>
            <h4 class="container bg-transparent col-lg-9 col-md-12">Número de actividades encontradas: {{contador}}</h4>
            <br>
   <div class="container col-lg-9 col-md-12" url-endpoint='{% url "calendar" %}' id='calendar'></div>

<!-- Modal -->
<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Actividad</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="contenido" class="modal-body">
        <label>Nombre:</label>
        <p id="nom"></p>
        <label>Descripción:</label>
        <p id="desc"></p>
        <label>Programa Operativo:</label>
        <p id="promo"> </p>
        <label>Presupuesto Ejercido:</label>
        <p id="preje"></p>
        <label>Fecha Inicial:</label>
        <p id="fei"></p> 
      </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
        </div>
      </div>
  </div>
</div>
</form>
<br>
<br>
<br>
<br>

{% endblock content %}
{% block extrascripts %}
<script src="https://fullcalendar.io/releases/core/4.1.0/main.min.js"></script>
<script src='https://fullcalendar.io/releases/interaction/4.1.0/main.min.js'></script>
<script src='https://fullcalendar.io/releases/daygrid/4.1.0/main.min.js'></script>
<script src='https://fullcalendar.io/releases/timegrid/4.1.0/main.min.js'></script>

<script>
        $(document).ready(function(){            
           var endpoint = '/usuario/data/'
           var title
           var date
           
           $.ajax({
               method: "GET",
               url: endpoint,
               success: function(data)
               {
                   title = data.titulo
                   date = data.fecha
                   
                   var calendarEl = document.getElementById('calendar');

                var calendar = new FullCalendar.Calendar(calendarEl, {
                      plugins: [ 'interaction', 'dayGrid', 'timeGrid','timeline' ],
                      locale:'es',
                      editable: true,
                      header: {
                      left: 'prev,next today',
                      center: 'title',
                      right: 'dayGridMonth,timeGridWeek,timeGridDay',
                      default: false
                  },
                      //Aqui se renderiza con nuevos parametros
                        eventRender: function(event,element,info) {
                             var tooltip = new Tooltip(info.el, {
                            title: info.event.extendedProps.description,
                            placement: 'top',
                            trigger: 'hover',
                            container: 'body'
                            });
                        } //Aqui termina la renderizacion eventual 
                  //Aquí empieza
                  eventClick: function(info, events) 
                  {

                        $("#ModalCenter").modal("show");
                        $("#nom").text();
                        
                        
                        
                    
                  }, 
                        //Aquí termina

                      events: [
                  {% for i,j in actividad %}
                  {
                      title: "{{ i.nombre}}",
                      start: '{{ i.fecha_in|date:"Y-m-d" }}',
                      end: '{{i.fecha_fi|date:"Y-m-d" }}',
                      description: 'This is a cool event',
                      color: '{{j}}',
                      textColor: 'white' // an option!
                     
                      
                  },
      
                  {% endfor %}
                  
                            ],
                                
                      });
                        calendar.render();
                   
                },
               error: function(error_data){
                   console.log("error")
                   console.log(error_data)
               }
               
           
           })
            })
    
</script>

{% endblock %}
