{% extends "base/base.html" %}
{% load staticfiles %}




{% block extracss %}
<link rel="stylesheet" href="https://fullcalendar.io/releases/core/4.1.0/main.min.css" >
<link rel="stylesheet" href="https://fullcalendar.io/releases/daygrid/4.1.0/main.min.css">
<link rel="stylesheet" href="https://fullcalendar.io/releases/timegrid/4.1.0/main.min.css">
<style>
#search-egresados
{
  width: 100px;
	margin: 5px 0 0 850px;
}
</style>
{% endblock %}
{% block extrascripts %}
<script>
        $(document).ready(function(){            
           var endpoint = '/usuario/data/'
           var title = []
           var date = []
           
           $.ajax({
               method: "GET",
               url: endpoint,
               success: function(data)
               {
                   title = data.titulo
                   date = data.fecha
                   
                   var calendarEl = document.getElementById('calendar');

                var calendar = new FullCalendar.Calendar(calendarEl, {
                      plugins: [ 'interaction', 'dayGrid', 'timeGrid','timeline' ],
                      locale:'es',
                      editable: true,
                      header: {
                      left: 'prev,next today',
                      center: 'title',
                      right: 'dayGridMonth,timeGridWeek,timeGridDay'
                  },
                  //Aquí empieza
                  eventClick: function(info) {
                        var eventObj = info.event;

                        if (eventObj.url) {
                            alert(
                            'Clicked ' + eventObj.title + '.\n' +
                            'Will open ' + eventObj.url + ' in a new tab'
                            );

                            window.open(eventObj.url);

                            info.jsEvent.preventDefault(); // prevents browser from following link in current tab.
                        } else {
                            alert('Clicked ' + eventObj.title);
                        }
                        }, 
                        //Aquí termina

                      events: [
                  {% for i,j in actividad %}
                  {
                      title: "{{ i.nombre}}",
                      start: '{{ i.fecha_in|date:"Y-m-d" }}',
                      end: '{{i.fecha_fi|date:"Y-m-d" }}',
                      color: '{{j}}'
                     
                      
                  },
      
                  {% endfor %}
                  
                            ],
                                  
                      });
                        calendar.render();
                   
                },
               error: function(error_data){
                   console.log("error")
                   console.log(error_data)
               }
               
           
           })
            })
    
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://fullcalendar.io/releases/core/4.1.0/main.min.js"></script>
<script src='https://fullcalendar.io/releases/interaction/4.1.0/main.min.js'></script>
<script src='https://fullcalendar.io/releases/daygrid/4.1.0/main.min.js'></script>
<script src='https://fullcalendar.io/releases/timegrid/4.1.0/main.min.js'></script>

{% endblock %}

{% block content %}
<br>
<form id="formulario" method="POST">
                {%csrf_token%}
                <h2 align="center">Calendario de Actividades</h2>
                <br>
                <br>
                {% for key,value in color.items %}
                    {{ value }}
                {% endfor %}
                <div class="container col-lg-9 col-md-12"  id="Select1">
                    <label for="exampleSelect1">Dependencia</label>
                    <select name="srh" class="container col-lg-9 col-md-12">
					  		<option >evento</option>
                      {% for i in depende  %}
                            <option >{{i.nombre}}</option>
                      {% endfor %}
                    </select>
                </div>
                <div class="container col-lg-9 col-md-12"  id="Select2">
                    <label for="exampleSelect1">Objetivo Transversal</label>
                    <select name="srh" class="container col-lg-9 col-md-12">
                      {% for j in objetivo  %}
                            <option >{{j.nombre}}</option>
                      {% endfor %}
                    </select>
                </div>
            <button class="btn btn-secondary" id="search-egresados" type="submit">Buscar</button>
            <br>
            <br>
            <h4 class="container col-lg-9 col-md-12">Número de actividades encontradas: {{contador}}</h4>
            <br>
   <div class="container col-lg-9 col-md-12" url-endpoint='{% url "calendar" %}' id='calendar'></div>
</form>
<br>
<br>
<br>
<br>

{% endblock content %}

