{% extends "base/base.html" %}
{% load staticfiles %}

{%block extracss%}
<link rel="stylesheet" href="{%static 'css/responsiveContainer.css'%}">

<style>
    img{
        max-width:200px;
        max-height:100px;
        
    }
    .min-w-100{
        min-width: 100px;
      }
    #btn-iniciar{
        width: 100%;
    }
    .pass_show{position: relative} 

    .pass_show .ptxt { 
        position: absolute; 
        top: 50%; 
        right: 10px; 
        z-index: 1; 
        color: rgb(96, 2, 12) !important;
        margin-top: -10px; 
        cursor: pointer; 
        transition: .3s ease all; 
    } 

    .pass_show .ptxt:hover{color: #333333;} 
</style>
{%endblock%}



{%block messages %}
{% endblock%}



{% block superContent %}
    <div class="container">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags == "success" %} class="alert alert-success"
                {%else%}
                class="alert alert-danger"
                {% endif %}>
                {{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="d-flex justify-content-center">
                    <img src="{%static 'images/ahome.png'%}" alt="">
                </div>
            <form id="frm-cambiarContrasena" method="POST" enctype="multipart/form-data">
                {%csrf_token%}
                <label>Contraseña actual</label>
                <div class="form-group pass_show"> 
                    <input type="password" required id="id_passActual"
                    name="passActual"
                    class="form-control" placeholder="Contraseña actual"> 
                </div> 
                   <label>Nueva contraseña</label>
                <div class="form-group pass_show"> 
                    <input type="password" required id="id_nuevaPass"
                    name="nuevaPass"
                    class="form-control" placeholder="Nueva contraseña"> 
                </div> 
                   <label>Confirma tu nueva contraseña</label>
                <div class="form-group pass_show"> 
                    <input type="password" required id="id_confirmarPass"
                     class="form-control" placeholder="Confirma tu nueva contraseña"> 
                </div>
                <div class="d-flex justify-content-center mb-2">
                    <button type="submit" class="btn btn-primary guinda">
                        Cambiar&nbsp;<i class="fa fa-check-circle" aria-hidden="true"></i>
                    </button>
                </div>
            </form>

        </div>

    </div>
{% endblock %}

{% block extrascripts %}
<script>    
        $(document).ready(function(){
            $('.pass_show').append('<span class="ptxt">Mostrar</span>'); 
            $('#frm-cambiarContrasena').submit((e)=>{
                nuevaPass = document.getElementById('id_nuevaPass');
                confirmarPass = document.getElementById('id_confirmarPass');
                if(nuevaPass.value == confirmarPass.value){
                    pass = nuevaPass.value
                    if(pass.match(/^(?=.*\d)(?=.*[a-z])[0-9a-zA-Z]{8,}$/)){
                        this.submit();
                    }else{
                        Swal.fire({
                            type: 'error',
                            customClass:{
                                confirmButton: 'guinda',
                                cancelButton: 'guinda',
                              },
                            title: `Recuerda que tu contraseña debe ser de almenos
                            8 caracteres y contener al menos un número y una letra.`,
                          })
                    }
                }else{
                    Swal.fire({
                        type: 'error',
                        customClass:{
                            confirmButton: 'guinda',
                            cancelButton: 'guinda',
                          },
                        title: 'Las contraseñas no coinciden',
                        text: `Recuerda que tu contraseña debe ser de almenos
                        8 caracteres y contener al menos un número y una letra.`,
                      })
                }
            
                    
                e.preventDefault();
            })
            


            });
            $(document).on('click','.pass_show .ptxt', function(){ 
            $(this).text($(this).text() == "Mostrar" ? "Ocultar" : "Mostrar"); 
            $(this).prev().attr('type', function(index, attr){return attr == 'password' ? 'text' : 'password'; }); 
            });
            
</script>
{% endblock %}