{% extends 'base/base.html' %}

{% block extrascripts %}
<script>
    function mostrar() {
            div = document.getElementById('Charts');
            div.style.display = '';
        }

        function cerrar() {
            div = document.getElementById('Charts');
            div.style.display = 'none';
        }
        $(document).ready(function(){            
           var endpoint = '/data/'
           var defaultData = []
           var labels = [];
           $.ajax({
               method: "GET",
               url: endpoint,
               success: function(data)
               {
                   labels = data.labels
                   defaultData = data.default
                   console.log(labels)
                   setChart() 
                   },
               error: function(error_data){
                   console.log("error")
                   console.log(error_data)
               }
           })
           function setChart()
           {
            var ctx = document.getElementById('myChart');
            
                        var myChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: labels,
                                datasets: [{
                                    label: 'Número de personas',
                                    data: defaultData,
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(255, 159, 64, 0.2)'
                                    ],
                                    borderColor: [
                                        'rgba(255,99,132,1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero:true
                                        }
                                    }]
                                }
                            }
                        });        
           }
       })
    

        //   function setChart(){
        //     var ctx = document.getElementById('myChart');
                        
        //   } 
           </script>
           <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
   <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{% endblock %}

{% block content %}
<div  class="container col-md-6 col-md-9">
        <form id="formulario" method="POST">
                {%csrf_token%}
        <div class='col-sm-14' url-endpoint='{% url "grafica" %}'>
                <br>
                <div class="form-group">
                <br>
                <br>
                <br>
                <button type="button" class="btn btn-info"><a href="javascript:mostrar();">Mostrar gráfica</a></button>
                <button type="button" class="btn btn-danger"><a href="javascript:cerrar();">Ocultar gráfica</a></button>
                <div id="Charts" style="display:none;" >
                        
                    <div class='col-sm-9'>
                            <canvas id="myChart" width="800" height="600"></canvas>
                    </div>
                </div>
        </div>
    </form>
</div>
{% endblock content %}


