{%load staticfiles%}

<div class="container">
    {% block messages %}
		{% if messages %}
			<ul class="messages">
					{% for message in messages %}
					<li{% if message.tags == "success" %} class="alert alert-success"
				{%else%}
				class="alert alert-danger"
				{% endif %}>
				{{ message }}</li>
					{% endfor %}
			</ul>
		{% endif %}
    {% endblock messages %}
    <div class="d-flex justify-content-center">
        <img src="{%static 'images/ahome.png'%}" alt="">
    </div>
    <form enctype="multipart/form-data" method="POST">
        {%csrf_token%}
        <h4 class="text-center">Iniciar sesión</h4>
        <div class="form-group">
            <input required class="form-control" id="usuario"
            placeholder="Usuario" name="usuario" type="text">
        </div>
        <div class="form-group">
                <input required class="form-control" 
                placeholder="Contraseña" id="pass" name="pass" type="password">
            </div>
            <div class="d-flex justify-content-center">
                <a href="{%url 'contraOlvidada'%}">¿Olvidaste la contraseña?</a>
            </div>
        <div class="align-center mt-3 d-flex justify-content-center">
                
                <button class="btn btn-primary btn-sm guinda" type="submit">Iniciar sesión</button>
        </div>
    </form>
</div>
