{% extends "base/base.html" %}
{% load staticfiles %}

{%block extracss%}
<link rel="stylesheet" href="{%static 'css/responsiveContainer.css'%}">

<style>
    img{
        max-width:200px;
        max-height:100px;
        
    }
    .min-w-100{
        min-width: 100px;
      }
    #btn-iniciar{
        width: 100%;
    }
</style>
{%endblock%}


{% block nav %}

{% endblock nav %}



	{%block messages %}
    {% endblock%}

{% block superContent %}
{%include "users/LoginForm.html"%}
{% endblock superContent %}