{%extends 'base/base.html'%}
{% load staticfiles %}
{% block  content%}
<div  class="container col-lg-9 col-md-12">
    <form id="id_frm_registrar" method="POST">
        {%csrf_token%}
        <div class="form-group">
            <br>
            <h4>Registro</h4>
                <br>
                <br>
            <label class="form-control-label">
                Nombre: *
            </label>
            <input maxlength="30" name="nombre" class="col-lg-9 col-md-12 form-control" type="text">
            <strong  style="color:red;font-size: 11;visibility: hidden;"></strong>
        </div>
        
        <div class="form-group" >
            <label  class="form-control-label">
                Apellido paterno: *
            </label>
            <input maxlength="18" class="col-lg-9 col-md-12 form-control"  name="apellidopaterno" type="text">
            <strong  style="color:red;font-size: 11;visibility: hidden;"></strong>
        </div>
        
        <div class="form-group" >
                <label  class="form-control-label">
                    Apellido materno*
                </label>
                <input maxlength="18" class="col-lg-9 col-md-12 form-control"  name="apellidomaterno" type="text">
        </div>
        <br>
            <br>
            <div class="form-group" >
                <label  class="form-control-label">
                    Edad: *
                </label>
                <input maxlength="18" class="col-lg-9 col-md-12 form-control"  name="edad" type="text">
        </div>
        <br>
        <br>
        <div style="text-align: center;">
            <button  class="btn btn-success" type="submit" value="Entrar"><i class="fa fa-cloud"></i>  Aceptar</button>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </form>
    
</div>

{% endblock  %}
{% block extrascripts %}{% endblock %}