{%extends 'base/base.html'%}
{%load staticfiles%}


{% block title %}
Dependencias
{% endblock %}

{%block navTitle%}
Dependencias
{%endblock%}
{%block messages %}
{% endblock%}
{% block extracss %}
    <style>
        a.btn{
            min-width: 100px;
        }
        table.dataTable tbody tr{
            background: transparent !important;
        }
        span.badge{
            min-width: 100px;
        }
        .badge-naranja{
            background: #f26631;
        }
    </style>
{% endblock %}

{%block content%}
    {% if messages %}
        <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags == "success" %} class="alert alert-success"
            {%else%}
            class="alert alert-danger"
            {% endif %}>
            {{ message }}</li>
                {% endfor %}
        </ul>
    {% endif %}
<table class="table table-responsive">
    <thead>
        <tr>
            <th>ID</th>
            <th>Dependencia</th>
            {% for periodo in periodos %}
            <th>Gasto en {{periodo.nombre}}</th>
            
            {% endfor %}
            <th>Acciones</th>

        </tr>
    </thead>
    <tbody class="bg-transparent">
        {% for dpendencia_periodoGasto in dpendencias_periodosGasto %}
            <tr>
                <td scope="row">{{dpendencia_periodoGasto.dependencia.id}}</td>
                <td>{{dpendencia_periodoGasto.dependencia.nombre}}</td>
                {% for gasto in dpendencia_periodoGasto.gastos %}
                    <td>{{gasto}}$</td>
                {% endfor %}
                <td>
                    <a class="btn guinda btn-sm" href="{%url 'accionesDependencia' idDependencia=dpendencia_periodoGasto.dependencia.id%}">
                        Gastos
                      </a></td></td>
            </tr>
        {% endfor %}


    </tbody>
</table>

{%endblock%}


{% block extrascripts %}
    <script>
        $(document).ready( function () {
            $('.table').DataTable();
        } );
    </script>
{% endblock %}