{%extends 'base/base.html'%}
{%load staticfiles%}

{%block navTitle%}
Reporte
{%endblock%}

{% block title %}
Reporte
{% endblock %}

{%block messages %}
{% endblock%}
{% block extracss %}
    <style>
        a.btn{
            min-width: 100px;
        }
        table.dataTable tbody tr{
            background: transparent !important;
        }
        span.badge{
            min-width: 100px;
        }
        .badge-naranja{
            background: #f26631;
        }
        #filtros{
            position: fixed;
        }
    </style>
{% endblock %}

{%block content%}
    {% if messages %}
        <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags == "success" %} class="alert alert-success"
            {%else%}
            class="alert alert-danger"
            {% endif %}>
            {{ message }}</li>
                {% endfor %}
        </ul>
    {% endif %}
    <div class="d-flex justify-content-end">
        <button data-toggle="modal" data-target="#exampleModal"
        id="filtros" class="btn guinda">
            <i class="fas fa-sliders-h"></i>
        </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Filtros</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <form action="" method="post">
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn guinda">Save changes</button>
                    </div>
                </form>

            </div>
            </div>
        </div>
    <div class="container">
        
    </div>

{%endblock%}


{% block extrascripts %}
    <script>
        $(document).ready( function () {
            $('.table').DataTable();
        } );
    </script>
{% endblock %}