{%extends 'base/base.html'%}
{%load staticfiles%}

{%block navTitle%}
Metas
{%endblock%}

{% block title %}
Metas
{% endblock %}

{%block messages %}
{% endblock%}
{% block extracss %}
    <style>
        a.btn{
            min-width: 100px;
        }
        table.dataTable tbody tr{
            background: transparent !important;
        }
        span.badge{
            min-width: 100px;
        }
        .badge-naranja{
            background: #f26631;
        }
        #filtros{
            position: fixed;
            z-index: 9999;
        }
        
    </style>
{% endblock %}

{%block content%}
    {% if messages %}
        <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags == "success" %} class="alert alert-success"
            {%else%}
            class="alert alert-danger"
            {% endif %}>
            {{ message }}</li>
                {% endfor %}
        </ul>
    {% endif %}
    <div class="d-flex justify-content-end">
        <button data-toggle="modal" data-target="#exampleModal"
        id="filtros" class="btn guinda">
            Filtros &nbsp;<i class="fas fa-filter"></i>
        </button>
    </div>
    <div class="container bg-transparent">
        <div class="row">
            <div class="col-6">
                    <div id="container">
                        </div>
            </div>
            <div class="col-6">
                    <div id="container2">
                        </div>
            </div>
        </div>
            
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mostrar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="dependencia">Dependencias</label>
                                <select id="dependencia" name="dependencia" class="form-control">
                                <option value="">Todas</option>
                                {% for dependencia in dependencias  %}
                                        <option value="{{dependencia.id}}">
                                            {{dependencia.nombre}}
                                        </option>
                                {% endfor %}
                                </select>
                            </div>
                        <div class="form-group">
                            <label for="eje">Ejes</label>
                            <select name="eje" class="form-control">
                                <option value="" >Todos</option>
                                <option value="1" >Desarrollo Integral</option>
                                <option value="2" >Desarrollo Social y Humano</option>
                                <option value="3" >Promoción Económica y Medio Ambiente</option>
                                <option value="4" >Seguridad Ciudadana y Protección Civil</option>
                                <option value="5" >Combate a la Corrupción y Participación Ciudadana</option>
                            </select> 
                        </div>
    
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button id="id_form_filtro" type="submit" class="btn guinda">Aplicar filtros</button>
                    </div>
                </form>
    
            </div>
            </div>
    </div>




{%endblock%}


{% block extrascripts %}
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script>
        $(document).ready(()=>{
            var acciones = '{{acciones|escapejs}}';
            acciones = acciones.substr(2)
            acciones = acciones.substring(0, acciones.length - 1);
            console.log(acciones)
            JSON.parse(acciones);
            console.log(acciones);
    
        });

    </script>
{% endblock %}