{%extends 'base/base.html'%}
{%load staticfiles%}

{%block navTitle%}
Productividad
{%endblock%}

{% block title %}
Productividad
{% endblock %}

{%block messages %}
{% endblock%}
{% block extracss %}
    <style>
        a.btn{
            min-width: 100px;
        }
        table.dataTable tbody tr{
            background: transparent !important;
        }
        span.badge{
            min-width: 100px;
        }
        .badge-naranja{
            background: #f26631;
        }
        #filtros{
            position: fixed;
            z-index: 9999;
        }
              /* Set the size of the div element that contains the map */
        #map {
            height: 400px;  /* The height is 400 pixels */
            width: 100%;  /* The width is the width of the web page */
        }
    </style>
{% endblock %}

{%block content%}
    {% if messages %}
        <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags == "success" %} class="alert alert-success"
            {%else%}
            class="alert alert-danger"
            {% endif %}>
            {{ message }}</li>
                {% endfor %}
        </ul>
    {% endif %}
    <div class="container bg-transparent" id="container">

    </div>



{%endblock%}


{% block extrascripts %}
<script>
    $(document).ready(()=>{
        let nombres = '{{nombres}}'
        nombres = nombres.split('|')
        console.log();
        let arregloActividades = '{{arregloActividades|escapejs}}'
        console.log(arregloActividades)

        arregloActividades = JSON.parse(arregloActividades);
        var myChart = Highcharts.chart('container', {
            chart: {
                type: 'bar',
                backgroundColor:'rgba(255, 255, 255, 0.0)'

            },
            title: {
                text: 'Productividad'
            },
            xAxis: {
                categories: nombres
            },
            yAxis: {
                title: {
                    text: 'Actividades'
                }
            },
            legend: {
                reversed: true
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: arregloActividades
        });
    })
</script>
{% endblock %}