{% extends "base/base.html" %}
{%load staticfiles%}

{% block navTitle %}
{% endblock %}


{% block messages %}
{% endblock %}


{% block extracss %}
<style>
    .full-width{
        width: 100%;
    }
    #evidencia{
        min-width: 300px;
        max-width: 100%;
    }
    .flecha{
        position: fixed;
        z-index: 9999;
        top: 50%;
        cursor: pointer;
    }
    .full-height{
        height: 100%;
    }
    .color-guinda{
        color: rgb(96, 2, 12) !important;
    }
    #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
    }
    .progress-bar{
        color: black;
        font-weight: bolder;
    }
</style>
{% endblock %}

{% block content %}
<!--
AQUÍ VAN LAS FLECHAS DE ANTES Y DESPUES
-->
<div class="flecha">
    <i id="id_anterior" class="fas fa-chevron-left fa-3x color-guinda"></i>
</div>
<div class="justify-content-end d-flex full-height">
    <div class="flecha">
            <i id="id_siguiente" class="fas fa-chevron-right fa-3x color-guinda"></i>
        </div>
</div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags == "success" %} class="alert alert-success"
  {%else%}
  class="alert alert-danger"
  {% endif %}>
  {{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div id="id_meta">
    <h3 class="text-center">{{cantidadMeta}}&nbsp;{{descripcionMeta}}</h3>
</div>
    <hr>
    <h5 class="text-center">VARIABLES DE MEDICIÓN</h5>
    <div class="row">
        {% for variable in variablesActividad %}
        <div class="col-xl-4 col-sm-6 mb-3 animated fadeIn">
                <div class="card text-dorado eje5 o-hidden h-100">
                    <div class="card-body">
                    <div class="mr-5">
                        <h5 name="nombrePo">{{variable}}</h5>

                    </div>
                    <br>
                    <div class="mitad-h3">
                        <h6>Cantidad: <strong>{{variable.cantidad}}</strong></h6>
                    </div>
                    </div> 
                </div>
        </div>
        {% endfor %}
    </div>
    <hr>
    <h5 class="text-center">ALCANCE DE BENEFICIO</h5>
    <div class="row">
            {% for alcance in alcancesActividad %}
            <div class="col-xl-4 col-sm-6 mb-3 animated fadeIn">
                    <div class="card text-dorado eje5 o-hidden h-100">
                        <div class="card-body">
                        <div class="mr-5">
                            <h5 name="nombrePo">{{alcance}}</h5>
    
                        </div>
                        <br>
                        <div class="mitad-h3">
                            <h6>Cantidad: <strong>{{alcance.cantidad}}</strong></h6>
                        </div>
                        </div> 
                    </div>
            </div>
            {% endfor %}
        </div>
    <hr>

        <div class="justify-content-center d-flex">
            <h2>
            {% if actividad.estado == 'r' %}
            <span class="badge badge-success">Válida&nbsp;<i class="fa fa-check-circle"></i></span>
            {%elif actividad.estado == 's' %}
            <span class="badge badge-info">Secundaria&nbsp;<i class="far fa-check-circle"></i></span>

            {%elif actividad.estado == 'p' %}
            <span class="badge badge-naranja">Pendiente&nbsp;<i class="fas fa-exclamation-circle"></i></span>
            {%elif actividad.estado == 'n' %}
            <span class="badge badge-danger">No válido&nbsp;<i class="fa fa-times-circle"></i></span>
            {%else%}
            <span class="badge badge-warning">En revisión&nbsp;<i class="fas fa-clock"></i></span>
            {% endif %}
        </h2>
        </div>

<hr>
<div class="container bg-transparent">
    <div class="justify-content-center d-flex m-4">
        <button class="btn guinda" type="button" data-toggle="collapse" data-target="#detalles" aria-expanded="false" aria-controls="collapseExample">
            Ver detalles&nbsp;<i class="fas fa-chevron-circle-down"></i>
        </button>
    </div>

    <div class="collapse bg-transparent" id="detalles">
        <div class="card card-body bg-transparent">
            <table class="table">
                    <tbody>
                        <tr>
                        <th scope="row">
                                <h5 class="text-center">
                                        <strong>Programa operativo:</strong>
                                    </h5>
                        </th>
                        <td>
                            <h5 class="text-center">
                            {{actividad.programaoperativo.nombre}}
                            </h5>
                        </td>
                        </tr>
                        <tr>
                        <th scope="row">
                            <h5 class="text-center"><strong>Acción:</strong> </h5>
                        </th>
                        <td>
                            <h5 class="text-center">
                                {{actividad.accion.nombre}}
                            </h5>
                        </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <h5 class="text-center">
                                    <strong>Fecha:</strong>
                                </h5>
                            </th>
                            <td>
                                <h5 class="text-center">
                                    Del {{actividad.fecha_in}} hasta {{actividad.fecha_fi}}
                                </h5>
                            </td>
                            </tr>

                            
                    </tbody>
                    </table>
        </div>
    </div>

    <div class="justify-content-center d-flex m-4">
            <button class="btn guinda" type="button" data-toggle="collapse" data-target="#evidencia" aria-expanded="false" aria-controls="collapseExample">
                Evidencia&nbsp;<i class="fas fa-chevron-circle-down"></i>
            </button>
        </div>
    
        <div class="collapse bg-transparent" id="evidencia">
            <div class="card card-body bg-transparent">
                    <div id="map"></div>

                    <hr>
                    
                
                    <div class="d-flex justify-content-center">
                        <embed src="/media/{{actividad.evidencia}}" width="600" height="500" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
                    </div>
                    <div class="d-flex justify-content-center mt-2">
                        <a id="evidencia" class="btn guinda m-2" href="/media/{{actividad.evidencia}}" target="_blank">Ver evidencia</a>
                    </div>
            </div>
        </div>

  
    <hr>
    <h3 class="text-center font-weight-bold">Observaciones</h3>
    {% if actividad.observaciones %}
     <h4 class="text-center">{{actividad.observaciones}}</h4>

    {%else%}
        <h4 class="text-center">Sin observaciones</h4>

    {% endif %}
    <form action="" id="frm_actividad" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_observaciones" class="">
            <strong>Observaciones</strong>
            </label>
            <textarea class="form-control" name="observaciones" id="id_observaciones"
            maxlength="800" cols="30" rows="10"></textarea>
        </div>

        <h4 class="text-center">Cambiar estado</h4>
        <div class="row">
            <div class="col-lg-4">
                <button type="button" id="validar" class="btn btn-success full-width">
                    <i class="fas fa-check"></i>&nbsp;Válido
                </button>
            </div>
            <div class="col-lg-4">
                <button type="button" id="invalidar" class="btn btn-warning full-width">
                        <i class="fas fa-exclamation-triangle"></i>&nbsp;Inválido
                </button>
            </div>
            <div class="col-lg-4">
                    <button type="button" id="desactivar" class="btn btn-danger full-width">
                        <i class="fas fa-times" aria-hidden="true"></i>&nbsp;Desactivar
                    </button>
                </div>
        </div>
        <input id="estado" name="estado" type="text" value="" hidden>
    </form>
</div>
{% endblock %}

{% block extrascripts %}
<script>

    $(document).ready(()=>{
        var idActividad = "{{actividad.id}}";
        $('.numero').mask('00000000', {reverse: true});
        idActividad = parseInt(idActividad);
        var arrayActividades = localStorage.getItem('arrayActividades');
        arrayActividades = JSON.parse(arrayActividades);
        inputEstado = document.querySelector('#estado')

        var tieneMeta = '{{tieneMeta}}';
        if ('{{tieneMeta}}' == 'True'){
            $('#id_meta').append(`
                <div class="progress" style="height: 30px;">
                    <div class="progress-bar bg-{{claseSemaforo}} progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{porcentajeMeta}}" aria-valuemin="0" aria-valuemax="100" style="width: {{porcentajeMeta}}%">{{porcentajeMeta}}%</div>
                </div>
            `);
        }
        function siguiente(){
            const index = arrayActividades.indexOf(idActividad)
            if(index == arrayActividades.length - 1){
                window.location = `/programasOperativos/actividad/admin/ver/actividad/${arrayActividades[0]}`;
            }else{
                window.location = `/programasOperativos/actividad/admin/ver/actividad/${arrayActividades[index + 1]}`;
            }
        }
        function anterior(){
            const index = arrayActividades.indexOf(idActividad)
            if(index == 0){
                window.location = `/programasOperativos/actividad/admin/ver/actividad/${String(arrayActividades[arrayActividades.length -1])}`;
            }else{
                window.location = `/programasOperativos/actividad/admin/ver/actividad/${String(arrayActividades[index - 1])}`;
            }
        
        }
        $('#id_anterior').click(()=>{
            anterior();
        });
        $('#id_siguiente').click(()=>{
            siguiente();

        });

        $('#validar').click(()=>{
            inputEstado.value = 'r';
            $('#frm_actividad').submit();
        })
        $('#invalidar').click(()=>{
            inputEstado.value = 'n';
            $('#frm_actividad').submit();

        })
        $('#desactivar').click(()=>{
            inputEstado.value = 'i';
            $('#frm_actividad').submit();
        })
        document.onkeyup = function(e) {
            e.preventDefault();
            if (e.shiftKey && e.which == 83) {
                inputEstado.value = 's';
                $('#frm_actividad').submit();
            } else if (e.shiftKey && e.which == 65) {
                inputEstado.value = 'r';
                $('#frm_actividad').submit();
            } else if (e.which == 39) {
                siguiente();
            } else if (e.which == 37) {
                anterior();
            }
          };
    });
</script>
<script>
    // Initialize and add the map
    function initAutocomplete() {
        let latitud = '{{actividad.latitud}}';
        let longitud = '{{actividad.longitud}}';

      // The location of Uluru
      var uluru = {lat: parseFloat(latitud), lng: parseFloat(longitud)};
      // The map, centered at Uluru
      var map = new google.maps.Map(
          document.getElementById('map'), {zoom: 11, center: uluru});
      // The marker, positioned at Uluru
      var marker = new google.maps.Marker({position: uluru, map: map});
    }
        </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&libraries=places&callback=initAutocomplete"
    async defer></script>
{% endblock %}
