{% extends "base/base.html" %}
{%load staticfiles%}

{% block navTitle %}
{% endblock %}

{% block extracss %}
<style>
    .full-width{
        width: 100%;
    }
    #evidencia{
        min-width: 300px;
        max-width: 100%;
    }
    .flecha{
        position: fixed;
        z-index: 9999;
        top: 50%;
        cursor: pointer;
    }
    .full-height{
        height: 100%;
    }
    .color-guinda{
        color: rgb(96, 2, 12) !important;
    }
</style>
{% endblock %}

{% block content %}
<!--
AQUÍ VAN LAS FLECHAS DE ANTES Y DESPUES
-->
<div class="flecha">
    <i id="id_anterior" class="fas fa-chevron-left fa-3x color-guinda"></i>
</div>
<div class="justify-content-end d-flex full-height">
    <div class="flecha">
            <i id="id_siguiente" class="fas fa-chevron-right fa-3x color-guinda"></i>
        </div>
</div>


<h2 class="text-center">
{{actividad.nombre}}
</h2>
<div class="container bg-transparent">
        <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">
                        <h5 class="text-center">
                            <strong>Subido por
                            </strong>
                        </h5>
                    </th>
                    <td>
                        <h5 class="text-center">
                                {{actividad.user.username}}, {{actividad.user.profile.dependencia.nombre}}
                        </h5>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                            <h5 class="text-center">
                                    <strong>Programa operativo:</strong>
                                </h5>
                    </th>
                    <td>
                        <h5 class="text-center">
                        {{actividad.programaoperativo.nombre}}
                        </h5>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                        <h5 class="text-center"><strong>Acción:</strong> </h5>
                    </th>
                    <td>
                        <h5 class="text-center">
                            {{actividad.accion.nombre}}
                        </h5>
                    </td>
                  </tr>
                  <tr>
                        <th scope="row">
                            <h5 class="text-center">
                                <strong>Descripción</strong>
                            </h5>
                        </th>
                        <td>
                            <h5 class="text-center">
                                {{actividad.descripcion}}
                            </h5>
                        </td>
                      </tr>
                    <tr>
                        <th scope="row">
                            <h5 class="text-center">
                                <strong>Personas involucradas en la actividad:</strong>
                            </h5>
                        </th>
                        <td>
                            <h5 class="text-center">
                                {{actividad.personasInvolucradas}}
                            </h5>
                        </td>
                        </tr>
                    <tr>
                        <th scope="row">
                            <h5 class="text-center">
                                <strong>Actividad desde:</strong>
                            </h5>
                        </th>
                        <td>
                            <h5 class="text-center">
                                {{actividad.fecha_in}}
                            </h5>
                        </td>
                        </tr>
                    <tr>
                        <th scope="row">
                            <h5 class="text-center">
                                <strong>Hasta:</strong>
                            </h5>
                        </th>
                        <td>
                            <h5 class="text-center">
                                {{actividad.fecha_fi}}
                            </h5>
                        </td>
                        </tr>
                    <tr>
                            <th scope="row">
                                <h5 class="text-center">
                                    <strong>Estado:</strong>
                                </h5>
                            </th>
                            <td>
                                <h5 class="text-center">
                                        {% if actividad.estado == 'r' %}
                                        <span class="badge badge-success">Válida&nbsp;<i class="fa fa-check-circle"></i></span>
                                        {%elif actividad.estado == 'p' %}
                                        <span class="badge badge-naranja">Pendiente&nbsp;<i class="fas fa-exclamation-circle"></i></span>
                                        {%elif actividad.estado == 'n' %}
                                        <span class="badge badge-danger">No válido&nbsp;<i class="fa fa-times-circle"></i></span>
                                        {%else%}
                                        <span class="badge badge-warning">En revisión&nbsp;<i class="fas fa-clock"></i></span>
                                        {% endif %}
                                </h5>
                            </td>
                            </tr>
                        
                </tbody>
              </table>

    <hr>
    <h3 class="text-center font-weight-bold">Observaciones</h3>
    {% if actividad.observaciones %}
     <h4 class="text-center">{{actividad.observaciones}}</h4>

    {%else%}
        <h4 class="text-center">Sin observaciones</h4>

    {% endif %}
    <hr>
    

    <div class="d-flex justify-content-center">
        <embed src="/media/{{actividad.evidencia}}" width="600" height="500" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
    </div>
    <div class="d-flex justify-content-center mt-2">
        <a id="evidencia" class="btn guinda m-2" href="/media/{{actividad.evidencia}}" target="_blank">Ver evidencia</a>
    </div>
    <hr>
    <form action="" id="frm_actividad" method="POST">
        {% csrf_token %}°
        <div class="form-group">
            <label for="id_observaciones" class="">
            <strong>Observaciones</strong>
            </label>
            <textarea class="form-control" name="observaciones" id="id_observaciones"
            maxlength="800" cols="30" rows="10"></textarea>
        </div>
        <h4 class="text-center">Cambiar estado</h4>
        <div class="row">
            <div class="col-lg-4">
                <button type="button" id="validar" class="btn btn-success full-width">
                    <i class="fas fa-check"></i>&nbsp;Validar
                </button>
            </div>
            <div class="col-lg-4">
                <button type="button" id="invalidar" class="btn btn-warning full-width">
                        <i class="fas fa-exclamation-triangle"></i>&nbsp;Invalidar
                </button>
            </div>
            <div class="col-lg-4">
                    <button type="button" id="desactivar" class="btn btn-danger full-width">
                        <i class="fas fa-times" aria-hidden="true"></i>&nbsp;Desactivar
                    </button>
                </div>
        </div>
        <input id="estado" name="estado" type="text" value="" hidden>
    </form>
</div>
{% endblock %}

{% block extrascripts %}
<script>
    $(document).ready(()=>{
        var idActividad = "{{actividad.id}}";
        idActividad = parseInt(idActividad);
        var arrayActividades = localStorage.getItem('arrayActividades');
        arrayActividades = JSON.parse(arrayActividades);
        inputEstado = document.querySelector('#estado')

        $('#id_anterior').click(()=>{
            const index = arrayActividades.indexOf(idActividad)
            console.log(`/programasOperativos/actividad/admin/ver/actividad/${String(arrayActividades[index - 1])}`);
            if(index == 0){
                window.location = `/programasOperativos/actividad/admin/ver/actividad/${String(arrayActividades[arrayActividades.length -1])}`;
            }else{
                window.location = `/programasOperativos/actividad/admin/ver/actividad/${String(arrayActividades[index - 1])}`;
            }
        
        });
        $('#id_siguiente').click(()=>{
            const index = arrayActividades.indexOf(idActividad)
            if(index == arrayActividades.length - 1){
                window.location = `/programasOperativos/actividad/admin/ver/actividad/${arrayActividades[0]}`;
            }else{
                window.location = `/programasOperativos/actividad/admin/ver/actividad/${arrayActividades[index + 1]}`;
            }

        });

        $('#validar').click(()=>{
            inputEstado.value = 'r';
            $('#frm_actividad').submit();
        })
        $('#invalidar').click(()=>{
            inputEstado.value = 'n';
            $('#frm_actividad').submit();

        })
        $('#desactivar').click(()=>{
            inputEstado.value = 'i';
            $('#frm_actividad').submit();
        })

    });
</script>
{% endblock %}
